<div class="mt-5">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, label: "Name :" %>
    <%= f.input :photo, as: :file %>

  <%= f.submit 'Add', class:"btn btn-dark btn-block mt-5" %>
  <% end %>
</div>

