<div class="create-background">



<div class="container">
  <div class="margin-top-navbar">
    <div class="row justify-content-center">
      <div class="col-6">
        <h2 class="mt-4">Add a new cocktail</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>


</div>
