
.blue-background {
background-image: image-url("home_background.png");
height: 100vh;
background-size: cover;
}

.show-banner{
height: 350px;
background-position: center;
background-size: cover;
}

.create-background {
background-image: asset-url("create-background.png");
height: 100vh;
background-size: cover;
}

.margin-banner{
  margin-top: 44px;
}


@media (max-width: 940px) {
  /* For a screen < 540px, this CSS will be read */
.create-background {
background-image: asset-url("");
background-color: #deb188ff;
height: 100vh;
background-size: cover;
}
}
