
.blue-background {
background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("home_background.jpg");
height: 100vh;
background-size: cover;
}

.white-background{
  background-color: #C87D1A;
}

.show-banner{
height: 350px;
background-position: center;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.show-banner h2{
  color: white;
}

.margin-banner{
  margin-top: 66px;
}

