h1{
  color: #C87D1A;
  position: absolute;
  top: 361px;
  left: 735px;
  font-weight: bolder;
  font-size: 77px;
  font-family: 'Roboto', sans-serif;
  text-shadow: black 0.2em 0.2em 0.5em;
}

h2{
  color: #130F2E;
  font-family: 'Roboto', sans-serif;

}

i{
  color: #130F2E;
}

ul{
  list-style-type: none;
}
