.plus-btn{
    border-radius: 50px;
    border: 2px solid #171238;
    color: #171238;
    width: 87px;
    padding: 19px;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

.fixed-right{
  left: calc(100vw - 100px);
}
