.content-show-card{
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  height: 324px;
  background-color: #F3F6FB;
  text-align: center;
}

.content-show-card{
  text-align: center;
}

.content-show-card h3{
  border-bottom: 1px solid;
}


